body{
  text-align: center;
  background-color: #61D2D6;
  color: white;
  font-family: 'Bellefair', serif;
  font-size: 1.2em;
}

canvas{
  background-color: #EDDE45;
  box-shadow: 0 5px 5px 5px 0 #000;
}
